body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-dark {
  background-color: red !important;
}

.btn-primary {
    color: blue;
    background-color: green;
    border-color: orange;
}
.active {}
